<h1>Tech Talent South Resources</h1>
<p>Links to great resources for students and alumni of Tech Talent South's bootcamp.</p>
<h1>Contributors</h1>
<b>Sia Karamalegos</b>, current student in New Orleans <a href="https://github.com/siakaramalegos"><i class="fa fa-github-square fa-2x"></i></a> <a href="https://www.linkedin.com/in/karamalegos"><i class="fa fa-linkedin-square fa-2x"></i></a> <a href="https://twitter.com/thegreengreek"><i class="fa fa-twitter-square fa-2x"></i></a></a>
