<h1>Tech Talent South Resources</h1>
<p>Links to great resources for students and alumni of Tech Talent South's bootcamp.</p>
<h1>Contributors</h1>
<p>
  <b>Sia Karamalegos</b>, current student in New Orleans <a href="https://github.com/siakaramalegos" target="_blank"><i class="fa fa-github-square fa-2x"></i></a> <a href="https://www.linkedin.com/in/karamalegos" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a> <a href="https://twitter.com/thegreengreek" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a></a>
</p>
<p>
  <b>Nicky Mast</b>, current student in New Orleans <a href="https://github.com/nickymast" target="_blank"><i class="fa fa-github-square fa-2x"></i></a> <a href="https://www.linkedin.com/in/nicolemast" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a> <a href="https://twitter.com/nickymast" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
</p>
<p>
  <strong>Gant (the man) Laborde</strong>, <em>current</em> Master of the Universe
</p>