</div>
<div class="jumbotron">
  <div class="container">
    <div class="boxy">
      <h1>Tech Talent South Resources</h1>
      <p>Links to great resources for students and alumni of Tech Talent South's bootcamp.</p>
      <p><%= link_to 'Jump in', resources_path, :class => "btn btn-warning btn-lg", :role => "button" %></p>
    </div>
  </div>
</div>


<div>
