html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 60px;
}

.well {
  position: relative;
  height: 150px; 
  text-overflow: auto;
  .well-footer {
    position: absolute;
    bottom: 10px;
    right: 15px;
  } /* .well-footer */
} /* .well */

.panel {
  overflow: hidden;
}

.navbar-right {
  margin-right: 0;
}

.footer {
  height: 40px;
  background-color: #9D9D9D;
  color: #DDDDDD;
  padding-top: 10px;
  margin-top: 20px;
  overflow: auto;
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0px;
}

.footer a {
  color: #DDDDDD;
  text-decoration: none
}

.footer a:hover {
  color: white;
  text-decoration: none;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}