// Place all the styles related to the Resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.resource-icons {
  margin-top: 10px;
  float: right;
} /* .resource-icons */

.resource {
  margin-top: 10px;
}

.filter {
  margin-bottom: 2px;
}

.vote-box {
  // background-color: rgba(240, 173, 78, 0.5);
  // border-radius: 5px;
  // width: 80px;
  // margin: 0 auto;
  color: #AAA;
  font-weight: 500;
  a {
    color: #CCC;

    &:hover {
      color: #AAA;
    }
  }
}/* vote-box */