
.brand-text {
  color: #777;
  font-weight: 700;
}

.fa-sm {
  font-size: 0.6em;
}

a:hover {
  text-decoration: none;
}


.devise {
  background-color: rgba(0,0,0,0.2);
  padding: 1em 3em 3em 3em;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 20px;
  width: 500px;

  div.other-links {
    margin-top: 0.7em;

    a {
      padding: 5px 0 5px 0;
    }
  }
}/* devise */

.readmore {
  font-size: 0.6em;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  }



  